.center{
	text-align: center;
	color:chartreuse;
	font-size: 250%;
	font-weight: bold;
}
.a{
	font-size: 150%;
	color: aquamarine;
	text-align: center;
		}
.b{
	font-weight: bold;
	color: aliceblue;
}
li{
	font-size: 130%;
   list-style:square;
	color: aquamarine;
	}
.link{
	color:chartreuse;
}
link_policy{
	color:darksalmon;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: aquamarine;
   color: black;
   text-align: center;
	font-size: 200%;
}
